# Importing and First Look to the Data
Imported parqued file is training dataset.

In [2]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder
import numpy as np

data = pd.read_parquet('/Users/emirtuna/Desktop/train_final.parquet', engine='pyarrow')
data

,id,month,n_seconds_1,n_seconds_2,n_seconds_3,carrier,devicebrand,feature_0,feature_1,feature_2,...,feature_41,feature_42,feature_43,feature_44,feature_45,feature_46,feature_47,feature_48,feature_49,target
0,5beefd4d2bf4a4767e0df8108,10,5245.571,981.182,205.948,VODAFONE TR,Apple,-1.197737,1.113360,-1.123334,...,-2.613336,-2.032903,2.645719,-1.023478,1.658986,-1.559406,-2.161336,30,58,"menu2, menu4, menu5"
1,867285b116c063d5a8482f5be,10,5184.876,557.650,487.587,TURKCELL,samsung,-2.336352,2.567766,-0.494908,...,-0.983938,-1.453756,-0.021547,-0.195770,2.775513,-0.318980,-4.291473,21,45,"menu7, menu8, menu4"
2,c82a7cbd2e00d9b66c06bcadc,10,3835.618,3275.128,43.806,TURK TELEKOM,Redmi,-2.561455,2.061736,-0.184511,...,-1.668703,-3.599403,1.673868,0.631790,1.293131,-2.230909,-2.383524,19,61,"menu2, menu8, menu4"
3,f2d2b25073ccc298eced86897,10,3532.544,154.509,64.724,TURKCELL,samsung,-2.529918,3.358050,-0.851366,...,-1.861418,-1.219658,1.863495,0.213170,1.029710,-1.142185,-4.466191,2,41,"menu6, menu2, menu1"
4,7818c92a58af0f2cb7c361738,10,3344.192,787.896,715.115,VODAFONE TR,samsung,-2.922361,2.096124,0.060796,...,-0.142903,-1.875545,1.024499,-0.186423,-0.061626,-1.462175,-2.371206,23,85,"menu6, menu2, menu8"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
94044,2e54f32ced9fae6ef802ceaa2,12,44.397,43.425,41.678,O2 - DE,HUAWEI,-1.531534,2.596604,0.340233,...,-1.484154,-1.988186,0.044385,0.863442,0.761354,1.073711,-3.560019,29,68,"menu2, menu8, menu4"
94045,6aa4ff0f6cc5ef4c2980b2862,12,44.331,43.977,40.620,TURKCELL,samsung,-1.268987,2.300487,0.231711,...,-0.632773,-1.624605,2.406462,-0.340132,-0.893553,-2.061401,-1.908158,25,43,"menu9, menu2, menu5"
94046,fa842185a0edd210845b78308,12,44.142,43.591,41.736,VODAFONE TR,Apple,-1.950039,2.805681,0.438200,...,0.184886,-3.477337,0.449427,0.445361,-0.495204,-0.955097,-3.843092,4,25,"menu6, menu2, menu4"
94047,db8f55b8499f8d8c05148240e,12,43.963,43.350,40.862,TURK TELEKOM,Redmi,-2.389140,2.358281,0.683524,...,-0.186062,-2.329308,0.864857,1.284815,-0.100755,-1.056479,-1.452037,25,60,"menu6, menu8, menu4"
94048,93c3b8ecbb3071cf0a925a860,12,41.850,41.429,41.180,TURKCELL,HONOR,-2.372386,2.485552,0.824122,...,-0.180394,-1.872968,2.108022,0.175145,0.252684,0.528619,-2.203115,16,44,"menu6, menu2, menu8"

# Importing Test Dataset

In [3]:
test_final = pd.read_parquet('/Users/emirtuna/Desktop/test_final.parquet', engine='pyarrow')

test_final.head()

,id,month,n_seconds_1,n_seconds_2,n_seconds_3,carrier,devicebrand,feature_0,feature_1,feature_2,...,feature_40,feature_41,feature_42,feature_43,feature_44,feature_45,feature_46,feature_47,feature_48,feature_49
0,2e6105f5911256f4f6c4813ed,1,6893.544,246.854,242.636,VODAFONE TR,samsung,-1.723524,3.216489,-1.138474,...,-1.094519,-1.217407,-4.280456,1.512240,-2.306445,2.066388,0.844927,-1.026193,18,58
1,c56ad71dae0a5dbd3e7d36adc,1,4481.065,740.209,263.860,TURKCELL,Apple,-0.417275,2.024433,0.102952,...,1.806486,-3.477517,-2.064966,1.499805,1.284697,0.189269,-1.563224,-1.901654,3,35
2,4d02ea175f6581f0c6385311f,1,4340.702,2742.163,318.700,TURKCELL,samsung,-2.943294,2.769536,0.734942,...,1.759080,-2.038839,-2.067219,2.141083,0.055355,0.084739,-1.009925,-2.058473,7,50
3,3412d27a86c286ba078fa935c,1,4129.666,181.397,155.423,TURK TELEKOM,Apple,-2.346902,2.684752,0.168206,...,2.171847,-0.925040,-1.484278,0.666036,0.911519,0.616167,0.092304,-1.874706,22,47
4,0203b561f6f7e10eafa46eefa,1,3903.944,126.133,100.060,TURKCELL,POCO,-1.745354,2.355863,0.318961,...,-0.373413,-0.015773,-2.961445,1.301413,1.375090,-0.107355,0.924390,-1.606419,29,52

# Converting Target Column to Proper Format

In [4]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder
import numpy as np

data = pd.read_parquet('/Users/emirtuna/Desktop/train_final.parquet', engine='pyarrow')

# Ensure the 'target' column contains lists of floats
data['target'] = data['target'].str.replace('menu', '').str.split(',').apply(lambda menu_list: np.array([float(menu) for menu in menu_list], dtype=object))

data[['target_1', 'target_2', 'target_3']] = pd.DataFrame(data['target'].tolist(), index=data.index)


max_menu_number = 9

# Function to convert a list of menu numbers to a binary string
def convert_to_binary_list(menu_list):
    # Create an empty binary string
    binary_string = ['0'] * max_menu_number

    # Set '1' in the binary string for recommended menus
    for menu_number in menu_list:
        binary_string[int(menu_number) - 1] = '1'

    # Join the binary string to form the final representation
    return ''.join(binary_string)

# Create the 'target_result' column by applying the function to the 'target' column
data['target_result'] = data['target'].apply(convert_to_binary_list)

# Drop the original 'target' column
data.drop(columns=['target'], inplace=True)

data.head()
#data.columns

,id,month,n_seconds_1,n_seconds_2,n_seconds_3,carrier,devicebrand,feature_0,feature_1,feature_2,...,feature_44,feature_45,feature_46,feature_47,feature_48,feature_49,target_1,target_2,target_3,target_result
0,5beefd4d2bf4a4767e0df8108,10,5245.571,981.182,205.948,VODAFONE TR,Apple,-1.197737,1.113360,-1.123334,...,-1.023478,1.658986,-1.559406,-2.161336,30,58,2.0,4.0,5.0,010110000
1,867285b116c063d5a8482f5be,10,5184.876,557.650,487.587,TURKCELL,samsung,-2.336352,2.567766,-0.494908,...,-0.195770,2.775513,-0.318980,-4.291473,21,45,7.0,8.0,4.0,000100110
2,c82a7cbd2e00d9b66c06bcadc,10,3835.618,3275.128,43.806,TURK TELEKOM,Redmi,-2.561455,2.061736,-0.184511,...,0.631790,1.293131,-2.230909,-2.383524,19,61,2.0,8.0,4.0,010100010
3,f2d2b25073ccc298eced86897,10,3532.544,154.509,64.724,TURKCELL,samsung,-2.529918,3.358050,-0.851366,...,0.213170,1.029710,-1.142185,-4.466191,2,41,6.0,2.0,1.0,110001000
4,7818c92a58af0f2cb7c361738,10,3344.192,787.896,715.115,VODAFONE TR,samsung,-2.922361,2.096124,0.060796,...,-0.186423,-0.061626,-1.462175,-2.371206,23,85,6.0,2.0,8.0,010001010

# Data Preperation

In [5]:
from sklearn.preprocessing import LabelEncoder

# Combine your train and test datasets
combined_data = pd.concat([data, test_final], axis=0)

# Initialize the label encoder
label_encoder = LabelEncoder()


categorical_columns = ['carrier', 'devicebrand']
# Fit and transform the label encoder on the combined dataset
for column in categorical_columns:
    combined_data[column] = label_encoder.fit_transform(combined_data[column])

# Split the combined dataset back into train and test datasets
data = combined_data[:len(data)]
test_final = combined_data[len(data):]

drop_list = ['target_1','target_2', 'target_3', 'target_result']
test_final = test_final.drop(columns=drop_list)


test_final['month'] = test_final['month'].replace(1, 13)

data['target_1'] = data['target_1'].astype(int)
data['target_2'] = data['target_2'].astype(int)
data['target_3'] = data['target_3'].astype(int)


data.head()
#test_final.head()

/var/folders/13/138z3b6n11b5fykm4s0033980000gn/T/ipykernel_57356/2247787692.py:25: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['target_1'] = data['target_1'].astype(int)
/var/folders/13/138z3b6n11b5fykm4s0033980000gn/T/ipykernel_57356/2247787692.py:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['target_2'] = data['target_2'].astype(int)
/var/folders/13/138z3b6n11b5fykm4s0033980000gn/T/ipykernel_57356/2247787692.py:27: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['target_3'] = data['target_3'].astype(int)

,id,month,n_seconds_1,n_seconds_2,n_seconds_3,carrier,devicebrand,feature_0,feature_1,feature_2,...,feature_44,feature_45,feature_46,feature_47,feature_48,feature_49,target_1,target_2,target_3,target_result
0,5beefd4d2bf4a4767e0df8108,10,5245.571,981.182,205.948,547,1,-1.197737,1.113360,-1.123334,...,-1.023478,1.658986,-1.559406,-2.161336,30,58,2,4,5,010110000
1,867285b116c063d5a8482f5be,10,5184.876,557.650,487.587,492,61,-2.336352,2.567766,-0.494908,...,-0.195770,2.775513,-0.318980,-4.291473,21,45,7,8,4,000100110
2,c82a7cbd2e00d9b66c06bcadc,10,3835.618,3275.128,43.806,486,32,-2.561455,2.061736,-0.184511,...,0.631790,1.293131,-2.230909,-2.383524,19,61,2,8,4,010100010
3,f2d2b25073ccc298eced86897,10,3532.544,154.509,64.724,492,61,-2.529918,3.358050,-0.851366,...,0.213170,1.029710,-1.142185,-4.466191,2,41,6,2,1,110001000
4,7818c92a58af0f2cb7c361738,10,3344.192,787.896,715.115,547,61,-2.922361,2.096124,0.060796,...,-0.186423,-0.061626,-1.462175,-2.371206,23,85,6,2,8,010001010

# First model for finding target_1

In [6]:
import pandas as pd
from sklearn.ensemble import RandomForestRegressor
from hyperopt import fmin, tpe, hp, Trials, space_eval
import numpy as np

# Data preprocessing for training dataset
X_train = data.drop(columns=['target_result', 'target_1', 'target_2', 'target_3', 'id'])  # Exclude non-feature columns
# Add 'id_hash' as a feature
X_train['id_hash'] = data['id'].apply(hash)
y_train = data['target_1']

# Data preprocessing for test_final dataset
X_test_final = test_final.drop(columns=['id'])  # Exclude non-feature columns
# Add 'id_hash' as a feature
X_test_final['id_hash'] = test_final['id'].apply(hash)

# Initialize the Random Forest Regressor
rf = RandomForestRegressor(random_state=42)

# Fit the model on the training data
rf.fit(X_train, y_train)

# Make predictions on the test_final dataset
test_predictions = rf.predict(X_test_final).astype(int)

#test_predictions = np.round(test_predictions).astype(int)

# Add the predicted 'target_1' values to the 'test_final' dataset
test_final['target_1'] = test_predictions

# Save the updated 'test_final' dataset to a new CSV file if needed
test_final.to_csv('test_final_with_predictions_v51.csv', index=False)

In [7]:
test_final

,id,month,n_seconds_1,n_seconds_2,n_seconds_3,carrier,devicebrand,feature_0,feature_1,feature_2,...,feature_41,feature_42,feature_43,feature_44,feature_45,feature_46,feature_47,feature_48,feature_49,target_1
0,2e6105f5911256f4f6c4813ed,13,6893.544,246.854,242.636,547,61,-1.723524,3.216489,-1.138474,...,-1.217407,-4.280456,1.512240,-2.306445,2.066388,0.844927,-1.026193,18,58,4
1,c56ad71dae0a5dbd3e7d36adc,13,4481.065,740.209,263.860,492,1,-0.417275,2.024433,0.102952,...,-3.477517,-2.064966,1.499805,1.284697,0.189269,-1.563224,-1.901654,3,35,5
2,4d02ea175f6581f0c6385311f,13,4340.702,2742.163,318.700,492,61,-2.943294,2.769536,0.734942,...,-2.038839,-2.067219,2.141083,0.055355,0.084739,-1.009925,-2.058473,7,50,4
3,3412d27a86c286ba078fa935c,13,4129.666,181.397,155.423,486,1,-2.346902,2.684752,0.168206,...,-0.925040,-1.484278,0.666036,0.911519,0.616167,0.092304,-1.874706,22,47,5
4,0203b561f6f7e10eafa46eefa,13,3903.944,126.133,100.060,492,30,-1.745354,2.355863,0.318961,...,-0.015773,-2.961445,1.301413,1.375090,-0.107355,0.924390,-1.606419,29,52,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11950,7687113f46112edf4f56666ee,13,47.726,40.879,40.647,492,16,-2.952961,1.352361,-0.396846,...,-0.533786,-1.779781,0.228962,0.403641,-0.906588,-0.788647,-0.627803,18,45,5
11951,5ff8eb7a06fd48b60dbc04f34,13,47.471,44.745,41.040,492,1,-1.945921,2.003634,-0.300293,...,-1.345186,-1.067598,1.685431,0.879146,0.206344,-1.623952,-2.496700,20,44,5
11952,ac23a7b9ad3e5d61e738c854b,13,47.403,45.832,43.932,486,32,-1.596234,3.165674,-1.520392,...,-0.558995,-3.029989,1.352324,0.351689,-0.326579,-0.382071,-2.995726,17,34,5
11953,7da05018634ea2eee4b122756,13,46.044,43.592,40.735,486,61,-1.984582,2.382992,-1.060896,...,-2.548628,-2.803372,1.091970,0.436466,0.235511,-1.625251,-2.354214,26,58,4
11954,57dbc6a230a851e6e2ee5c429,13,45.802,45.056,40.199,492,1,-0.849872,1.361515,-1.007086,...,-2.805852,-4.221541,2.898248,-0.898532,1.116955,-1.873156,-2.604914,13,66,5

# First model for finding target_2

In [8]:
import pandas as pd
from sklearn.ensemble import RandomForestRegressor
from hyperopt import fmin, tpe, hp, Trials, space_eval
import numpy as np

# Data preprocessing for training dataset
X_train = data.drop(columns=['target_result', 'target_2', 'target_3', 'id'])  # Exclude non-feature columns
# Add 'id_hash' as a feature
X_train['id_hash'] = data['id'].apply(hash)
y_train = data['target_2']

# Data preprocessing for test_final dataset
X_test_final = test_final.drop(columns=['id'])  # Exclude non-feature columns
# Add 'id_hash' as a feature
X_test_final['id_hash'] = test_final['id'].apply(hash)

# Initialize the Random Forest Regressor
rf = RandomForestRegressor(random_state=42)

# Fit the model on the training data
rf.fit(X_train, y_train)

# Initialize an array to store the modified 'target_2' values
modified_target_2 = []

# Make predictions on the test_final dataset and ensure 'target_2' values are different from 'target_1' values
for i in range(len(test_final)):
    att = 0
    while True:
        test_predictions = rf.predict(X_test_final.iloc[[i]]).astype(int)[0]  # Predict 'target_2' for a single row

        if test_predictions != test_final['target_1'].iloc[i]:
            break  # Exit the loop if 'target_2' is different from 'target_1'
        
        att += 1

        if att >= 10:
            test_predictions += 1
            break
            
    modified_target_2.append(test_predictions)
    
# Add the modified 'target_2' values to the 'test_final' dataset
test_final['target_2'] = modified_target_2

# Save the updated 'test_final' dataset to a new CSV file if needed
test_final.to_csv('test_final_with_predictions_v52.csv', index=False)

# First model for finding target_3

In [9]:
import pandas as pd
from sklearn.ensemble import RandomForestRegressor
from hyperopt import fmin, tpe, hp, Trials, space_eval
import numpy as np

# Data preprocessing for training dataset
X_train = data.drop(columns=['target_result', 'target_3', 'id'])  # Exclude non-feature columns
# Add 'id_hash' as a feature
X_train['id_hash'] = data['id'].apply(hash)
y_train = data['target_3']

# Data preprocessing for test_final dataset
X_test_final = test_final.drop(columns=['id'])  # Exclude non-feature columns
# Add 'id_hash' as a feature
X_test_final['id_hash'] = test_final['id'].apply(hash)

# Initialize the Random Forest Regressor
rf = RandomForestRegressor(random_state=42)

# Fit the model on the training data
rf.fit(X_train, y_train)

# Initialize an array to store the modified 'target_3' values
modified_target_3 = []

# Make predictions on the test_final dataset and ensure 'target_2' values are different from 'target_1' values
for i in range(len(test_final)):
    att = 0
    while True:
        test_predictions = rf.predict(X_test_final.iloc[[i]]).astype(int)[0]  # Predict 'target_2' for a single row

        if test_predictions != test_final['target_1'].iloc[i] and test_predictions != test_final['target_2'].iloc[i]:
            break  # Exit the loop if 'target_2' is different from 'target_1'
        
        att += 1

        if att >= 10:
            test_predictions += 1
            break
            
    modified_target_3.append(test_predictions)
    
# Add the modified 'target_2' values to the 'test_final' dataset
test_final['target_3'] = modified_target_3

# Save the updated 'test_final' dataset to a new CSV file if needed
test_final.to_csv('test_final_with_predictions_v53.csv', index=False)

In [12]:
import pandas as pd
from sklearn.metrics import jaccard_score
import joblib

# Load the 'test_final_with_predictions_v3.csv' dataset
test_final_pred_v3 = pd.read_csv('test_final_with_predictions_v53.csv')

# Define the function to convert columns to binary strings
def convert_to_binary_string(row):
    binary_string = ['0'] * max_menu_number

    # Set '1' in the binary string for recommended menus
    for target_column in ['target_1', 'target_2', 'target_3']:
        menu_number = row[target_column]
        binary_string[menu_number - 1] = '1'

    # Join the binary string to form the final representation
    return ''.join(binary_string)

# Apply the conversion function to each row and create a new column 'target_result'
test_final_pred_v3['target_result'] = test_final_pred_v3.apply(convert_to_binary_string, axis=1)

# Define the ground truth 'target_result' from the original 'test_final_with_predictions_v3.csv' dataset
true_target_result = test_final_pred_v3['target_result']

# Calculate the Jaccard score
jaccard = jaccard_score(true_target_result, test_final_pred_v3['target_result'], average='weighted')

print("Weighted Jaccard Score:", jaccard)

columns_to_keep = ['id', 'target_result']


test_final_pred_v3 = test_final_pred_v3.loc[:, columns_to_keep]

test_final_pred_v3 = test_final_pred_v3.rename(columns={'target_result': 'target'})

csv_filename = 'submission.csv'



a = pd.read_csv('submission.csv')
a.head()

joblib.dump(test_final_pred_v3, 'test_final_ib5_v1.joblib')

Weighted Jaccard Score: 1.0

['test_final_ib5_v1.joblib']

In [13]:
import pandas as pd

# Assuming you have a DataFrame named 'a' with the 'id' and 'target' columns

# Convert the 'target' column to a string, just in case
a['target'] = a['target'].astype(str)

# Count the number of '1' values in the 'target' column for each row
a['count_ones'] = a['target'].apply(lambda x: x.count('1'))

# Check if there are any rows where 'count_ones' is not equal to 3
incorrect_format = a[a['count_ones'] != 3]

# Initialize a list to store the indices of rows with incorrect format
k = []

# If there are rows in 'incorrect_format', it indicates that the format is not as expected
if not incorrect_format.empty:
    print("Rows with incorrect format:")
    print(incorrect_format)
    
    # Loop through the rows in 'incorrect_format' and append their indices to 'k'
    for i in incorrect_format.index:
        k.append(i)
else:
    print("All rows have the correct format.")

# The list 'k' now contains the indices of rows with incorrect format

All rows have the correct format.